<div class="container">
  <h2 class="text-center">Details</h2>
	<div class="row marketing">
		<div class="header">
		  	<div class="cost">${{vm.job.cost.total_amount}}</div>
	  		<p>{{vm.job.service_category}}</p>
		  	<h1> - {{vm.job.title}}</h1>
		  	<h2>{{vm.job.service_name}}</h2>
		  	<div ng-repeat="image in vm.job.image">
			    <img ng-src="{{vm.image_path}}{{image.image_path}}" />
			</div>

		  	<img ng-src=="{{vm.job.image.image_name}}">
	  	</div>
	  	<p>{{vm.job.service_description}}</p>
	  	<h3>{{vm.job.request.time_range}}  {{vm.job.request.date_required}} - {{vm.job.request.date_fulfillment_by}}</h3>
	  	{{vm.job.location.address}}
	  	{{vm.job.cost.hours}}

	  <a href="/edit/{{vm.job._id}}" class="btn btn-default" ng-if="vm.userProfile.user_id == job.owner">Edit Post</a>

	  <a href="/edit/{{vm.job._id}}" class="btn btn-default" ng-if="vm.job.status === 'draft' && vm.userProfile.user_id === job.owner">Publish</a>

	  <a href="" class="btn btn-default" ng-click="createRequest();" ng-if="vm.userProfile.user_id != job.owner">Lets do this!</a>

	</div>

</div>
