<div class="detail hero">
	<div ng-repeat="image in vm.job.image">
	    <img ng-src="{{vm.image_path}}{{image.image_path}}" />
	    <div class="category">{{vm.job.service_category}}</div>
	</div>
</div>
<div class="detail container item">
	  	<div class="jj-cost">${{vm.job.cost.total_amount}}</div>
	  	<div class="jj-date">
  			{{vm.job.request.date_required  | date:'MMM' }}
  			<span>
  				{{vm.job.request.date_required | date:'dd'}}
  			</span>
  		</div>
  		<div class="jj-time">
  			<i class="fa fa-clock-o fa-lg fa-2x"></i>
  			<span>{{vm.job.request.time_required | date: "H a" }}</span>
		</div>
		<div class="description">
		  	<h5>{{vm.job.service_name}}</h5>
		  	<h2>{{vm.job.title}}</h2>
		  	<div>{{vm.job.service_description}}</div>
  		</div>
	  	<div class="content">
	  		<p>{{vm.job.address}}</p>
	  	</div>

	  	<div class="actions">
			<a href="/edit/{{vm.job._id}}" class="btn btn-default" ng-if="vm.userProfile.user_id && vm.userProfile.user_id && vm.userProfile.user_id == vm.job.owner">Edit Post</a>

			<a class="btn btn-default" ng-if="vm.job.status === 'draft' && vm.userProfile.user_id === vm.job.owner && !vm.userData.s_customer_token" data-toggle="modal" data-target="#paymentModal">Publish</a>

			<a class="btn btn-default" ng-if="vm.job.status === 'draft' && vm.userProfile.user_id === vm.job.owner && vm.userData.s_customer_token" ng-click="vm.publishPost(vm.job._id);">Publish</a>

			<a href="" class="btn btn-default" ng-if="vm.userProfile && vm.userProfile.user_id != vm.job.owner && !vm.already_applied" data-toggle="modal" data-target="#myModal">Lets do this!</a>

			<a ui-sref="app.manage" class="btn btn-default" ng-if="vm.userProfile.user_id != vm.job.owner && vm.already_applied">View Request</a>

			<a ui-sref="app.manage" class="btn btn-default" ng-if="vm.job.status != 'draft' && vm.userProfile.user_id == vm.job.owner">Manage Requests</a>
		</div>

		<!-- Process payment modal -->
		<div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="paymentLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="paymentLabel">Payment details</h4>
		      </div>
		      <div class="modal-body">
					<div ng-if="!vm.userData.email">
						<label for="email-input">An Email address is required</label>
						<input ng-model="vm.emailAdd" ng-init="vm.emailAdd = vm.userProfile.email" type="email" id="email-input">
					</div>

					<form stripe-form="stripeCallback" name="checkoutForm">
					    <input ng-model="number" placeholder="Card Number" 
					             payments-format="card" payments-validate="card" name="card" />
					    <input ng-model="expiry" placeholder="Expiration" 
					             payments-format="expiry" payments-validate="expiry"                
					             name="expiry" />
					    <input ng-model="cvc" placeholder="CVC" payments-format="cvc" payments-validate="cvc" name="cvc" />
						<div ng-if="checkoutForm.card.$invalid">
							Error: invalid card number!
						</div>
						<div ng-if="checkoutForm.expiry.$invalid">
							Error: invalid expiration date!
						</div>
						<div ng-if="checkoutForm.cvc.$invalid">
							Error: invalid CVC!
						</div>
					    
					    <div class="modal-footer">
					    	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						    <button type="submit" ng-click="vm.approveCardtoProfile(vm.job._id);">Submit</button>
						</div>
					</form>  
		      </div>
		      <div class="modal-footer">
		        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <a href="" class="btn btn-default" ng-click="vm.approveCardtoProfile(vm.job._id);">Publish posting</a> -->
		      </div>
		    </div>
		  </div>
		</div>

		<!-- Bid date and time modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Bid, Date & Time</h4>
		      </div>
		      <div class="modal-body">
		      	<div class="" ng-if="vm.requestformstatus == 'form'">
		        	<div class="row">
						<label for="bid-input">Bid on Fee</label>
						<input class="form-control" ng-model="vm.request.bid" type="number" id="bid-input">
					</div>
					<div class="row">
						<div  class="six columns">
							<label for="date-input">I can come by:</label>
			      			<input class="form-control" ng-model="vm.request.provider_date" type="date" id="date-input">
		      			</div>
		      			<div  class="six columns">
							<label for="time-input">Within the hour of:</label>
			      			<input class="form-control" ng-model="vm.request.provider_time" type="time" id="time-input">
		      			</div> 
	      			</div>
	      			<div class="row">
						<label for="comment-input">Notes</label>
						<textarea ng-model="vm.request.comment" id="comment-input"></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						<a href="" class="btn btn-default" ng-click="vm.createRequest();" ng-if="vm.userProfile.user_id != vm.job.owner">Lets do this!</a>
					</div>
		  		</div>
		  		<div class="" ng-if="vm.requestformstatus == 'review'">
		        	
					Bid on Fee {{vm.request.bid}} <br />
					I can come by {{vm.request.provider_date | date:'MM/dd/yyyy' }}<br />
	      			Within the hour of {{vm.request.provider_time}}<br />
      				Notes: {{vm.request.comment}}
				
					<div class="modal-footer">
						<div class="actions">
							<a class="btn btn-default" ng-click="vm.requestformstatus = 'form'">Edit</a>
							<a ng-click="vm.confirm()" data-dismiss="modal" class="btn btn-default">Confirm</a> 
						</div>
					</div>
		  		</div>
		    </div>
		  </div>
		</div>
</div>
