<div class="jumbotron">
  	<h2 class="text-center">Add Job</h2>

<div class="container">
<input type="hidden" ng-model="vm.job.status" value="draft" />
<input type="hidden" ng-model="vm.job.request.active" value="false" />

<div class="form-group row">
  <label for="title-input" class="col-2 col-form-label">Title</label>
  <div class="col-10">
    <input class="form-control" ng-model="vm.job.title" type="text" value="Title" id="title-input">
  </div>
</div>
<div class="form-group row">
  <label for="service-name-input" class="col-2 col-form-label">Service Name</label>
  <div class="col-10">
    <input class="form-control" ng-model="vm.job.service_name" type="text" placeholder="Service Required" id="service-name-input">
  </div>
</div>
<div class="form-group row">
  <label for="service-description-input" class="col-2 col-form-label">Service Description</label>
  <div class="col-10">
  	<textarea class="form-control" id="service-description-input" ng-model="vm.job.service_description" placeholder="Service Description"/></textarea>
  </div>
</div>
<div class="form-group row">
  <label for="service-category-select" class="col-2 col-form-label">Service Category</label>
  <div class="col-10">
    <select class="form-control" ng-model="vm.job.service_category" id="service-category-select">
		<option ng-repeat="cat in vm.categories" value="{{cat.name}}">
			{{cat.name}}
		</option>
	</select>
  </div>
</div>

<div class="form-group row">
  <label for="address-input" class="col-2 col-form-label">Address</label>
  <div class="col-10">
  	<input class="form-control" type="text" id="address-input" ng-model="vm.job.location.address" placeholder="address" required ng-Autocomplete />
  </div>
</div>

<div class="form-group row">
  <label for="date-input" class="col-2 col-form-label">Date Required</label>
  <div class="col-10">
    <input class="form-control" ng-model="vm.job.request.date_required"  placeholder="Date Required" type="date" value="2011-08-19" id="date-input">
  </div>
</div>

<div class="form-group row">
  <label for="time-input" class="col-2 col-form-label">Time</label>
  <div class="col-10">
    <input class="form-control" ng-model="vm.job.request.time_required" type="time" value="13:45:00" id="time-input">
  </div>
</div>

<div class="form-group row">
  <label for="tel-input" class="col-2 col-form-label">Telephone</label>
  <div class="col-10">
    <input class="form-control" ng-model="vm.job.owner_meta.telephone" type="tel" value="1-(555)-555-5555" id="tel-input">
  </div>
</div>


<div class="form-group row">
  <label for="cost-type-input" class="col-2 col-form-label">Cost type</label>
  <select class="form-control" ng-model="vm.job.cost.arrange" id="cost-type-input">
		<option value="hr">Per Hour</option>
		<option value="fixed">Fixed Cost</option>
	</select>
</div>

<div class="form-group row">
  <label for="hours-input" class="col-2 col-form-label">Est. Hours of Service</label>
  <div class="col-10">
    <input class="form-control" ng-model="vm.job.cost.hours" type="text" id="hours-input">
  </div>
</div>

<div class="form-group row">
  <label for="amount-input" class="col-2 col-form-label">Amount</label>
  <div class="col-10">
    <input class="form-control" ng-model="vm.job.cost.amount" type="text" id="amount-input">
    <span ng-if="vm.job.cost.arrange === 'hr'">/hr.</span>
	<span ng-if="vm.job.cost.arrange === 'fixed'">Fixed Cost Total</span>
  </div>
</div>

	
<div ng-if="vm.job.cost.type === 'hr'">
	Total = {{job.cost.hours * job.cost.amount}}
</div>



		<form name="vm.upload_form">
			<div flow-init="{target: './uploads'}" >
				<label for="image-upload" class="col-2 col-form-label">Images</label>
				<div class="col-10">
				<input 
				type="file" 
				ngf-select 
				ng-model="vm.file" 
				name="file" 
				ngf-pattern="'image/*'"
				accept="image/*" 
				ngf-max-size="20MB" 
				id="image-upload"
				flow-btn />
				
				<i ng-show="vm.upload_form.file.$error.maxSize">File too large {{vm.file.size / 1000000|number:1}}</i>

				<div ng-repeat="file in $flow.files">
				    <img flow-img="file" />
				</div>
				</div>
			</div>
		</form>

		<input type="button" ng-click="vm.addJob(vm.job)" value="add job" />

		{{vm.job | json}}
	</div>
</div>
</div>
