<div class="manage">
	

	<div ng-if="vm.userData.preferences.requests && vm.userData.preferences.jobs" class="btn-group btn-group-lg" role="group" aria-label="Jobs / request menu">
	  <button type="button" ng-click="vm.show.show = 'jobs'" class="btn btn-default"><span>Jobs <span class="badge" >{{vm.show.job}}</span></span></button>
	  <button type="button" ng-click="vm.show.show = 'requests'" class="btn btn-default"><span>Requests <span class="badge" >{{vm.show.request}}</span></span></button>
	</div>

	<div ng-if="vm.show.show == 'jobs'" class="list">
		<joblist jobs='vm.jobs' searchtext='vm.searchText'></joblist>
	</div>

	<div ng-if="vm.userData.preferences.requests">

		<div ng-repeat="(key, value) in vm.manageRequests | groupBy: 'provider_date'">
			<div class="item item-divider">
				<h1> {{key | date:'MMM dd'}}</h1>
			</div>

			<div ng-repeat="request in value" class="well {{request.status}}" >
				{{request.title}}
				{{request.status}}
				{{request.bid}}
				{{request.provider_date | date:'MM/dd/yyyy'}}
				{{request.provider_time}}

				{{request.status}}

				<div ng-if="request.status == 'pending'">
					<a ng-click="vm.removeRequest(request.job_id,request._id)" ng-if="request.status != 'confirmed'" class="btn btn-default"><i class="fa fa-trash-o fa-lg"></i>Delete</a>
					<a ng-click="vm.editRequest(request.job_id)" ng-if="request.status != 'confirmed'" class="btn btn-default">Edit</a>
					<a ng-click="vm.viewFullRequest(request.job_id)" class="btn btn-default">View</a>

				</div>
				<!-- Task Completed Provider -->
				<a data-toggle="modal" data-target="#notifyVendor" ng-click="vm.r_id = request._id" ng-if="request.status == 'confirmed'" class="btn btn-default">Notify Vendor Completed</a>

				<!-- Task Feedback Provider -->
				<a ng-if="request.status == 'feedback'" class="btn btn-default" data-toggle="modal" data-target="#rateVendor" ng-click="vm.job_owner_id = request.job_owner_id; vm.id = request._id">Vendor Feedback</a>

				<div ng-if="request.status == 'declined'">
					<a ng-click="vm.removeRequest(request.job_id,request._id)" class="btn btn-default">Remove</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Notify Vendor Modal -->
	<div class="modal fade" id="notifyVendor" tabindex="-1" role="dialog" aria-labelledby="notifyVendorLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="notifyVendorLabel">Notify Vendor Task Completed</h4>
				</div>
				<div class="modal-body">
					<div>
						<label for="comment-input">Comments</label>
						<textarea class="form-control" ng-model="vm.notify_comment" id="comment-input"></textarea>
						<label for="image-upload">Images - Share image of work done to speed process</label>
					    <input type="file" file-model="myFile" id="image-upload" />
					    
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<a href="" class="btn btn-default" data-dismiss="modal" ng-click="vm.notifyVendor(vm.r_id)">Notify Vendor</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Rate Vendor Modal -->
	<div class="modal fade" id="rateVendor" tabindex="-1" role="dialog" aria-labelledby="rateVendorLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="rateVendorLabel">Rate Vendor</h4>
				</div>
				<div class="modal-body">
					<div>
						<input type="hidden" ng-model="vm.rating.category" ng-init="vm.rating.category = job.service_category"/>
						<input type="hidden" ng-model="vm.rating.type" ng-value="provider"/>
						<star-rating ng-model="vm.rating.rating" readonly="vm.isReadonly"></star-rating>
						<label for="comment-input">Review</label>
						<textarea class="form-control" ng-model="vm.rating.review" id="comment-input"></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<a class="btn btn-default" data-dismiss="modal" ng-click="vm.rateVendor(vm.job_owner_id,vm.id)">Rate and close</a>
				</div>
			</div>
		</div>
	</div>
</div>