@import "profile";


.navbar-default {
	background-color:rgba(#fafafa,0.8);
}

#map { height: 400px; }

.navbar-toggle {
	padding: 0 10px;
}

.post-image {
	width: 200px;
}

#shell-content {
	padding: 60px 0 120px;
}

img {
	max-width: 100%;
}

.navbar-fixed-bottom {
	background-color:rgba(#fafafa,0.8);
	padding: 5px;
	min-height: auto;
}