.post-image {
	width: 200px;
}

img {
	max-width: 100%;
}

.detail {
	&.hero {
		position: relative;
		display: block;
		min-height: 150px;
		height: 210px;
		background:rgba(#555,0.8);
		overflow: hidden;
		img {
			width: 100%;
			position: absolute; 
			top: 0;
		}
		.category {
			position: absolute;
			bottom: 0;
			right: 10px;
			padding: 0 10px;
			text-align: right;
			color: #fff;
			font-size: 16px;
		}
	}
	.description {
		margin-top: 40px;
	}
}


.thanks {
	padding-top: 80px;
	background: #ccc;
	color: #fff;
}