
body {
  background: #F1F3FA;
}

.profile {
	padding-top:60px;
	max-width: 100%;
	.ratings {
		max-width: 100%;
		word-wrap:break-word;
	}	
}

.profile-pic {
	display: inline-block;
	margin: 20px ;
	img {
		float: none;
		margin: 0 auto;
		width: 100px;
		height: auto;
		-webkit-border-radius: 50% !important;
		-moz-border-radius: 50% !important;
		border-radius: 50% !important;
	}
}
.profile-meta {
	display: inline-block;
	vertical-align: top;
	top: 50%;
}

.balance {
	padding-top:80px;	
}