
body {
  background: #F1F3FA;
}

.profile {
	padding-top:50px;
	max-width: 100%;
	p {
		margin-bottom: 5px;
	}
	.ratings {
		max-width: 100%;
		word-wrap:break-word;
	}	
}

.profile-pic {
	display:block;
	
	img {
		float: none;
		margin: 20px auto;
		width: 100px;
		height: auto;
		-webkit-border-radius: 50% !important;
		-moz-border-radius: 50% !important;
		border-radius: 50% !important;
	}
}

.profile-meta {
	display: block;
	vertical-align: top;
	text-align: center;
}

.balance {
	padding-top:80px;	
	h2 {
		text-align: center;
	}
}