.confirmed {
	background: #dff0d8;
}

.declined {
	background: #ccc;
}

.owner {
	background: #f4f4f4;
}

.item {
	margin-bottom: 0px;
	border-radius: 0px;
	border-bottom: 1px dashed #999;
	.jj-cost {
		float: right;
	}
	h2,h5, > div {
		margin-bottom: 0px;
	}
	.content {
		margin-top: 20px;
	}
	.actions {
		margin-top: 20px;
	}
}

.manage {
	padding-top: 60px;
}