

<div class="row profile">
	<div class="">
		<div class="profile-pic">
			<img src="{{vm.userData.picture}}" class="img-responsive" alt="">
		</div>
		<div class="profile-meta">
			<div class="profile-usertitle-name">
				{{vm.userData.name}}
			</div>
			<div class="profile-usertitle-job">
				Postings X<br />
				<p ng-if="vm.userData.ratings.vendor_rating">Vendor Rating: {{vm.userData.ratings.vendor_rating}}
				<star-rating ng-model="vm.userData.ratings.vendor_rating" readonly="true"></star-rating></p>

				<p ng-if="vm.userData.ratings.provider_rating">Provider Rating: {{vm.userData.ratings.provider_rating}}
				<star-rating ng-model="vm.userData.ratings.provider_rating" readonly="true"></star-rating></p>

				<p>Balance: ${{vm.userData.accounting.balance}}</p>
			</div>
			<div>
				<span class="label label-default">Labour</span>
				<span class="label label-primary">Cleaning</span>
				<span class="label label-success">Moving</span>
			</div>
		</div>
	</div>	
</div>