<div class="profile">
	<div class="">
		<div class="profile-pic">
			<img src="{{vm.userData.picture}}" class="img-responsive" alt="">
		</div>
		<div class="profile-meta">
			<div class="profile-usertitle-name">
				{{vm.userData.name}}
			</div>
			<div class="profile-usertitle-job">
				
				<p>{{vm.userData.email}}</p>
				<p><a href="#" editable-text="vm.userData.title">{{vm.userData.title || 'title'}}</a></p>
				<p><a href="#" editable-text="vm.userData.location">{{vm.userData.location || 'location'}}</a></p>

				<div class="" ng-if="vm.userData.preferences.jobs">
					<p>Vendor Rating: {{vm.userData.ratings.vendor_rating}}</p>

					<star-rating ng-model="vm.userData.ratings.vendor_rating" readonly="true"></star-rating>
				</div>

				<div class="" ng-if="vm.userData.preferences.requests">
					<p>Provider Rating: {{vm.userData.ratings.provider_rating}}</p>

					<star-rating ng-model="vm.userData.ratings.provider_rating" readonly="true"></star-rating>
				</div>

				<div >
				  <a href="#" editable-textarea="vm.userData.description" e-rows="7" e-cols="40">
				    {{ vm.userData.description || 'no description' }}
				  </a>
				</div>

			</div>


			<a ng-click="vm.saveProfile()" class="btn btn-default">Save</a>
			<!-- <div>
				<span class="label label-default">Labour</span>
				<span class="label label-primary">Cleaning</span>
				<span class="label label-success">Moving</span>
			</div> -->

			
		</div>
	</div>	
</div>