<nav class="navbar navbar-fixed-bottom">
    <div class="navbar-inner navbar-content-center">
    	<ul>
    		<li ng-if="!vm.userData.preferences.profile"><a data-ui-sref="app"><i class="fa fa-home fa-2x"></i></a></li>
            <li><a data-ui-sref="app.search"><i class="fa fa-map-marker fa-2x"></i></a></li>
    		<!-- <li><a data-ui-sref="app.post"><i class="fa fa-plus-square fa-2x"></i></a></li> -->
    		<li  ng-if="vm.userData.preferences.profile"><a data-ui-sref="app.manage"><i class="fa fa-list-alt fa-2x"></i></a></li>
    		<li ng-if="vm.userData.preferences.profile"><a data-ui-sref="app.profile"><i class="fa fa-user fa-2x"></i></a></li>
    		<li ng-if="vm.userData.preferences.requests"><a data-ui-sref="app.balance"><i class="fa fa-usd fa-2x"></i><span class="menu-balance">{{vm.userData.accounting.balance}}</span></a></li>
		</ul>
        <!-- <span class="pull-left">
            <a target="_blank">work for yourself</a>
        </span>
        <span class="pull-right">&copy; 2017</span> -->
    </div>
</nav>